# Data Types :

* **Integer :** Represents whole numbers, such as 1, 2, 3 etc.


* **Float :** Represents decimal numbers, such as 7.59, 18.57, -7.37, etc.

* **String :** Represents a sequence of characters, such as "Hey", "Nice!", "Hello_45198", etc.

* **Boolean :** Represents either **True** or **False**.

* **List :** Represents an ordered collection of values, which can be of any data type. For example, [1, 2, 3], ["Grape", "Guava", "Mango"], etc.

* **Tuple :** Similar to a list, but immutable, meaning it cannot be modified once created. For example, (1, 2, 3), ("apple", "banana", "orange"), etc.

* **Set :** Represents an unordered collection of unique values. For example, {1, 2, 3}, {"litchi", "pineapple", "orange"}, etc.

* **Dictionary :** Represents a collection of key-value pairs, where each key is associated with a value. For example, {"name": "Tony", "age": 30}, {"fruit": "apple", "color": "Purple"}, etc.

 # Examples :

* ## **Integer Datatype :**

The Integer datatype represents whole numbers, encompassing both positive and negative values, such as 1, 2, 3, and so forth.

In [1]:
## Integer Datatype
my_num = 12
print(my_num, "is a type of", type(my_num))

12 is a type of <class 'int'>

* ## **Float Datatype :** 
Floats are numbers with a decimal point, such as 3.14, 2.5, etc. They can also be positive or negative.

In [2]:
# Float Datatype
my_float_num = 8.5
print(my_float_num, "is a type of", type(my_float_num))

8.5 is a type of <class 'float'>

* ## **String Datatype :**
Strings are sequences of characters, such as "hello", "world", etc. They are enclosed in quotation marks (single or double).

In [3]:
# String Datatype :
myString1 = "Welcome"
myString2 = "7.38"
print(myString1, "is a type of", type(myString1))
print(myString2, "is a type of", type(myString2))

Welcome is a type of <class 'str'>
7.38 is a type of <class 'str'>

* ## **Boolean Datatype :**

Boolean conatain only two type of values. 
* **True**
* **False**

In [4]:
# 1st Boolean Value :
bool_data_1 = True

# 2nd Boolean Value :
bool_data_2 = False

print("type of", bool_data_1, "is", type(bool_data_1))
print("type of", bool_data_2, "is", type(bool_data_2))

type of True is <class 'bool'>
type of False is <class 'bool'>

* ## **List Datatype :**

The List datatype represents an ordered collection of items, allowing for storage, retrieval, and manipulation of elements.

In [25]:
list_1 = [1, 2, 3]
list_2 = ["Tony", "Stark", 48]

print(list_1, "is a type of", type(list_1))
print(list_2, "is a type of", type(list_2))

[1, 2, 3] is a type of <class 'list'>
['Tony', 'Stark', 48] is a type of <class 'list'>

* ## **Tuple Datatype :**

Tuple is same as **List**, But it is ***Immutable***. It means the content of Tuple can't be change

In [26]:
tup_1 = (1, 2, 3) 
tup_2 = ("apple", "banana", "orange")

print(tup_1, "is a type of", type(tup_1))
print(tup_2, "is a type of", type(tup_2))

(1, 2, 3) is a type of <class 'tuple'>
('apple', 'banana', 'orange') is a type of <class 'tuple'>

* ## **Set Datatype :**

The Set datatype represents an unordered collection of unique elements, allowing for operations such as intersection, union, and difference. It represent by "{}"

In [27]:
set_1 = {1, 2, 3}
set_2 = {"litchi", "pineapple", "orange"}

print(set_1, "is a type of", type(set_1))
print(set_2, "is a type of", type(set_2))

{1, 2, 3} is a type of <class 'set'>
{'orange', 'pineapple', 'litchi'} is a type of <class 'set'>

* ## **Dictionary Datatype :**

It contains **Key** & **Value** which is "," separated. where each key is associated with a value.

In [1]:
dict_1 = {"Name" : "Steve Rogers",
          "Age" : 56, 
          "Designation" : "Captain",
          "Still in Service" : True}

print(dict_1)
print(dict_1, "is a type of", type(dict_1))

{'Name': 'Steve Rogers', 'Age': 56, 'Designation': 'Captain', 'Still in Service': True}
{'Name': 'Steve Rogers', 'Age': 56, 'Designation': 'Captain', 'Still in Service': True} is a type of <class 'dict'>